@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --beam-color: var(--neutral-700);
}

html.dark {
  --beam-color: var(--neutral-50);
}

body {
  -webkit-font-smoothing: antialiased;
}

@layer components {
  .sectionContainer {
    @apply container flex flex-col;
  }
}